#!/bin/bash
#
# build.config - Configuration for the docker build
#
## These stay with the container
RUN_PACKAGES="gdb git libc6-dev libdb5.3-dev libmysqlclient-dev libpcre3-dev libreadline-dev libssl-dev libncurses5-dev libreadline6-dev screen sudo supervisor time wget vim unzip"
#
## These are only used to build then removed
BUILD_PACKAGES="autoconf automake autotools-dev curl g++ gcc gccxml make openjdk-7-jre-headless"
#
LUAROCKS_URL='http://luarocks.org/releases/luarocks-2.2.2.tar.gz'
OPENRESTY_REPO='https://github.com/openresty/ngx_openresty.git'
OPENRESTY_VERSION='latest'
# :vi set ft=sh
