#!/bin/bash
#
# global.config - Configuration used by basebox and fasttrack boxes
#
# NOTE: Only put stuff in there that both sides need to know, keep specific stuff in either */*.d/00-config-settings or common/{boxname}.config
#
ZDUSER=${ZDUSER:-swgemu}
ZDHOME=/home/${ZDUSER}
#
## PATH
export PATH=${ZDHOME}/ZonamaContainer/container/bin:${ZDHOME}/bin:$PATH
#
## Config file home dir
ZONAMACONTAINER_CONFIG_HOME=${XDG_CONFIG_HOME:-${ZDHOME}/.config}/ZonamaContainer
#
## Github repo
ZONAMACONTAINER_URL='https://github.com/Zonama/ZonamaContainer'
#
## Default pw for mysql 'root' user
DEFAULT_MYSQL_USER="${DBUSER:-root}"
DEFAULT_MYSQL_PASSWORD="${DBPASS:-12345678}"
#
## Where all the magic happens (note: Highly suggest paths without spaces!)
SERVER_DIR=${ZDHOME}/server
#
## Backup directory for Backup and Restore
BUDIR=${SERVER_DIR}/swgemu/backups
#
## Openresty settings
OPENRESTY_DIR=${SERVER_DIR}/openresty
OPENRESTY_PORT=44480
OPENRESTY_SSL_PORT=44443
#
## Yoda Settings
EMUYODA_DIR=${SERVER_DIR}/emuyoda
#
## Third party sources directory
EXTERNAL_SRC_DIR=${ZDHOME}/src
#
## Source settings
WORKSPACE=${EXTERNAL_SRC_DIR}
CORE3_REPO_URL=${CORE3_REPO_URL:-https://github.com/TheAnswer/Core3.git}
CORE3_BRANCH=${CORE3_BRANCH:-unstable}
ENGINE_REPO_URL=${ENGINE_REPO_URL:-https://github.com/TheAnswer/PublicEngine.git}
ENGINE_BRANCH=${ENGINE_BRANCH:-master}
#
## Build & Run Dirs...
BUILD_DIR=${WORKSPACE}/Core3/MMOCoreORB
RUN_DIR=${SERVER_DIR}/Core3/MMOCoreORB/bin
#
## Lua build config
LUA53_VERSION="${LUA_VERSION:-5.3.2}"
LUA53_URL="http://www.lua.org/ftp/lua-${LUA53_VERSION}.tar.gz"
LUA53_PACKAGES='libncurses5-dev libreadline6-dev'
LUA53_TEST_DIR="/usr/local/lib/lua/5.3"
#
## Network settings
PINGTEST_HOST=www.cisco.com # This has worked for eons, hope they keep it up
NETWORK_SLOW_SECONDS=5 # If the internet tests take longer than this we will warn them with a notice
#
# Source User's local config (if any)
if [ -f ${ZDHOME}/common/user.config ]; then
    source ${ZDHOME}/common/user.config
fi
#
# :vi set ft=sh
