#!/bin/bash
#
# global.config - Configuration used by basebox and fasttrack boxes
#
# NOTE: Only put stuff in there that both sides need to know, keep specific stuff in either */*.d/00-config-settings or common/{boxname}.config
#
ZDUSER=${USER:-vagrant}
ZDHOME=/home/${ZDUSER}
#
## PATH
export PATH=${ZDHOME}/ZonamaDev/fasttrack/bin:${ZDHOME}/bin:$PATH
#
## Config file home dir
ZONAMADEV_CONFIG_HOME=${XDG_CONFIG_HOME:-${ZDHOME}/.config}/ZonamaDev
#
## Github repo
ZONAMADEV_URL='https://github.com/Zonama/ZonamaDev'
#
## Default pw for mysql 'root' user
DEFAULT_MYSQL_USER="${DBUSER:-root}"
DEFAULT_MYSQL_PASSWORD="${DBPASS:-12345678}"
#
## Where all the magic happens (note: Highly suggest paths without spaces!)
SERVER_DIR=${ZDHOME}/server
#
## Backup directory for Backup and Restore
BUDIR=${SERVER_DIR}/swgemu/backups
#
## Openresty settings
OPENRESTY_DIR=${SERVER_DIR}/openresty
OPENRESTY_PORT=44480
OPENRESTY_SSL_PORT=44443
#
## Yoda Settings
EMUYODA_DIR=${SERVER_DIR}/emuyoda
#
RUN_DIR=${HOME}/Core3/MMOCoreORB/bin
#
## Network settings
PINGTEST_HOST=www.cisco.com # This has worked for eons, hope they keep it up
NETWORK_SLOW_SECONDS=5 # If the internet tests take longer than this we will warn them with a notice
#
# Source User's local config (if any)
if [ -f ${ZDHOME}/common/user.config ]; then
    source ${ZDHOME}/common/user.config
fi
#
# :vi set ft=sh
